<!DOCTYPE html>
<html>
<head>
    <title>My EPUB Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-option">
            <a href="/">LIBRARY</a>
        </div>
        <div class="sidebar-option book-upload">
            <a href="/upload">UPLOAD</a>
        </div>
    </div>
    <div class="divider"></div>
    <div class="main">
        <div class="header">
            <h1>📚 My Books</h1>
        </div>
        
        <div class="main-divider"></div>

        <div class="book-grid">
            {% for book in books %}
            <div class="book-item" onclick="openBook('{{ book.title }}')">
                <img src="/static/covers/{{ book.cover }}" alt="{{ book.title }}">
                <!-- <p>{{ book.title }}</p> -->
            </div>
            {% endfor %}
        </div>
    </div>


    <script>
        function openBook(filename) {
            fetch('/open/' + filename);
        }
    </script>
</body>
</html>
